@inherits LayoutComponentBase
@using LirmiChallenge.Client.UI

<style>
    :root {
        --lirmi-spacer: @Styles.LirmiStyles.Spacer;
        --lirmi-border-radius: @Styles.LirmiStyles.BorderRadius;
        --lirmi-background-color: @Styles.LirmiStyles.ColorBackground;
        --lirmi-text-dark: @Styles.LirmiStyles.ColorTextDark;
        --lirmi-text-light: @Styles.LirmiStyles.ColorTextLight;
        --lirmi-branding-primary: @Styles.LirmiStyles.BrandingSkyblue;
        --lirmi-branding-secondary: @Styles.LirmiStyles.BrandingViolet;
        --lirmi-branding-pink: @Styles.LirmiStyles.BrandingPink;
        --lirmi-branding-detail: @Styles.LirmiStyles.BrandingYellow;
        --lirmi-border-color: @Styles.LirmiStyles.ColorBorder;
    }

    .lirmi-table-container {
        padding: var(--lirmi-spacer);
        background-color: var(--lirmi-background-color);
        border-radius: var(--lirmi-border-radius);
        border: 1px solid var(--lirmi-border-color);
        margin: 1rem 0;
        box-shadow: 0px 1px 9px 4px rgba(0, 0, 0, 0.09);
    }

    .lirmi-card-content {
        padding: calc(var(--lirmi-spacer) / 2);
    }

    .lirmi-text-title, .lirmi-text-subtitle, .lirmi-text-p {
        color: var(--lirmi-text-dark);
    }

    .lirmi-web-title {
        color: var(--lirmi-text-light);
        font-size: 1.2rem;
    }

    .lirmi-text-title {
        font-weight: 500;
        font-size: 1.3rem;
    }

    .lirmi-text-subtitle {
        font-weight: 400;
        font-size: 1.2rem;
    }

    .lirmi-text-p {
        font-weight: 400;
        font-size: 1rem;
        text-align: start;
        font-stretch: condensed;
    }

    .lirmi-header-landing {
        background-color: var(--lirmi-branding-detail);
        text-align: center;
    }

    .lirmi-btn-container {
        display: flex;
        gap: 0.4rem;
    }

      .lirmi-between-container {
        display: flex;
        justify-content: space-between; 
        align-items: flex-start;
        vertical-align: middle;
        width: 100%; 
        margin: 1rem 0rem;
    }



    .lirmi-button {
        display: flex;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        transition: background-color 0.3s, color 0.3s;
    }

    .lirmi-button-primary {
        width: 200px;
        height: 45px;
        font-size: 0.8rem;
        border-radius: 12px;
        background-color: var(--lirmi-branding-secondary);
        color: var(--lirmi-text-light);
        text-align: center;
    }

    .lirmi-button-primary:hover {
        background-color: var(--lirmi-branding-pink);
    }

    .lirmi-button-edit,
    .lirmi-button-delete,
    .lirmi-button-save {
        color: var(--lirmi-branding-primary);
    }

    .lirmi-button-edit:hover,
    .lirmi-button-save:hover {
        background-color: var(--lirmi-branding-primary);
        color: var(--lirmi-text-light);
    }

    .lirmi-button-delete:hover {
        background-color: var(--lirmi-branding-detail);
        color: var(--lirmi-text-dark);
    }

    .lirmi-title-container, .lirmi-spacer {
        margin: 1rem 0;
    }

    .loader-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    .loader-text {
        margin-bottom: 1rem;
    }

    .loader-spinner {
        color: var(--lirmi-branding-primary);
    }
</style>

<MudThemeProvider Theme="@_theme" />
<MudPopoverProvider />
<MudDialogProvider FullWidth="true" MaxWidth="MaxWidth.ExtraSmall" CloseButton="true" BackdropClick="false" NoHeader="true" Position="DialogPosition.Center" CloseOnEscapeKey="true" />
<MudSnackbarProvider />
<MudLayout>
    <MudAppBar Elevation="1">
        <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="@((e) => DrawerToggle())" />
        <MudText Typo="Typo.h5" Class="lirmi-web-title">Sistema de Gestión Escolar</MudText>
        <MudSpacer />
        <MudIconButton Icon="@Icons.Custom.Brands.Google" Color="Color.Inherit" />
    </MudAppBar>
    <MudDrawer class="lirmi-appbar" @bind-Open="_drawerOpen" ClipMode="DrawerClipMode.Always" Elevation="2">
        <NavMenu />
    </MudDrawer>
    <MudMainContent Class="mt-16 pa-4">
        @Body
    </MudMainContent>
</MudLayout>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

@code {
    private bool _drawerOpen = true;
    private MudTheme? _theme = null;

    protected override void OnInitialized()
    {
        base.OnInitialized();

        _theme = new()
        {
            Typography = new Typography()
            {
                Default = new DefaultTypography()
                {
                    FontFamily = new[] { "Poppins", "Helvetica", "sans-serif" }
                }
            }
        };
    }

    private void DrawerToggle() => _drawerOpen = !_drawerOpen;
}
